

      

      
      <table class="table">
      <tr><%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "no_image.jpg.png", size: "100x100" %></tr>
      <tr>
      <th>name</th>
      <th><%= user.name %></th>
      </tr>

   
       <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
       </tr> 
         
       <tr>
       <% user ||= current_user %>
<div class="stats">
  <tr>
  <th>following</th>
  <th>
    <a href="<%= following_user_path(user) %>">
    <strong id="following" class="stat">
      <%= user.followings.count %>
    </strong>
    
  </a></th>

</tr>
<tr>
  <th>followers</th>
  <th><a href="<%= followers_user_path(user) %>">
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
  </a></th>
</tr>
</div>
       </tr>
      </table>
   <div class="row">
  	   <%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>

      </div>
  